<h1 class="mb-4">Template forms</h1>
<hr class="mb-5" />

<form #form="ngForm" class="border border-secondary rounded p-4 col-12 col-lg-8">
  <h4 class="mb-4">User form example</h4>

  <!-- Name  -->
  <div class="form-group mb-4">
    <label for="name" class="mb-2">Name</label>

    <input
      type="text"
      id="name"
      name="name"
      class="form-control mb-2"
      placeholder="Enter name"
      required
      minlength="4"
      appForbiddenName="Ivan"
      [(ngModel)]="userFrom.name"
      #name="ngModel"
    />

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <small *ngIf="name.errors?.['required']">Name is required.</small>
      <small *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long.</small>
      <small *ngIf="name.errors?.['forbiddenName']">Error forbiddenName</small>
    </div>
  </div>

  <!-- Age  -->
  <div class="form-group mb-4">
    <label for="age" class="mb-2">Age</label>

    <input
      type="number"
      id="age"
      name="age"
      class="form-control mb-2"
      placeholder="Enter age"
      required
      min="18"
      max="100"
      [(ngModel)]="userFrom.age"
      #age="ngModel"
    />

    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
      <small *ngIf="age.errors?.['required']">Age is required.</small>
      <small *ngIf="age.errors?.['min']">Error min 18</small>
      <small *ngIf="age.errors?.['max']">Error max 100</small>
    </div>
  </div>

  <pre>
    DONE: 
    - add input for user.age
    - add validation for the age from 18 to 100
    - use forbidden-name.directive ("Ivan" is forbidden)
  </pre>

  <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="log()">
    Log form value
  </button>
</form>
