@import '../../styles.scss';

.card {
  transition: all 0.3s;
  min-height: 80px;
}

.card:hover {
  background-color: $secondary;
  cursor: pointer;
}

.card.selected {
  background-color: $primary;
  color: $white;
  transform: scale(0.95);
}
